
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 136.6rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > div{
  display: flex;
  align-items: center;
  margin: 10px;
}

.number{
  background-color: #25c178;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

/* details */

.details {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.details_header_section{
  border: 2px solid red;
  padding: 2rem;
}

.details_flex{
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}

.details_header{
  display: flex;
}

.details_header i {
  color: yellow;
}

.details_qty{
  display: flex;
  height: 2rem;
  align-items: center;

}

.details_description{
  border: 3px solid blue;
}

.details_items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem
}

.details_items i {
  margin: 1rem;
}

.details_choise{
  display: flex;
  align-items: center;
}

/* right */

.details_right{
  border: 2px solid hotpink;
  padding: 2rem;
}

.details_price_card{
  border: 2px solid gray;
  height: 35rem;
  padding: 2rem;
}

/* upgrade */

.details_upgrade_title{
  font-size: 3rem;
  margin: 2rem;
}

.details_upgrade_mini{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem;
}

.details_upgrade_content{
  display: flex;
  gap: 1rem
}

/* right */

.details_price_title{
  font-size: 2rem;
  font-weight: 550;
}

.details_price_card_header, .details_price_card_body_item{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.details_price_button{
  background-color: #25c178;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.1rem;
  color: white;
  font-size: 1.3rem;
}

.details_price_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.1rem;
  font-size: 1.3rem;
}

